*{
   margin: 0;
   padding: 0;
}
:root{
   --borda:rgba(246, 241, 209, 0.5);
   --box-shadow:rgba(0, 0, 0, 0.1);
   --hover:rgba(246, 241, 209, 0.1);
   --texto:#F6F1D1;
   --tarefa:rgba(255, 255, 255, 0.1);
   --tarefaConcluida:#46494C;
   --todo-list:#0B2027;
   --bioRhyme: "BioRhyme", serif;
   --space-mono: "Space Mono", monospace;
}
.app {
   align-items: center;
   display: flex;
   justify-content: center;
   
   width: 100vw;
   min-height: 100vh;
}
.todo__list{
   background-color: var(--todo-list) ;
   font-family: var(--space-mono);
   min-height: 18.75rem;
   min-width:25rem;
   padding: 1rem;
}
.todo__list-titulo{
   border-bottom: 1px solid var(--borda);
   color: var(--texto);
   font-family: var(--bioRhyme);
   font-size: 1.5rem;
   margin-bottom: 1rem;
}
.formulario{
   display: flex;
   justify-content: center;
}
.formulario__input, .formulario__botao{
   background-color: var(--texto);
   font-size: 1rem ;
   padding: 0.75rem;  
}
.formulario__input{
   border-color: var(--borda);
   outline: none;
}
.formulario__botao{
   border: 1px;
   cursor: pointer;
   margin-left: 0.25rem ;
   text-transform: uppercase;
}
.formulario__botao:hover{
   background-color: var(--hover);
   color: var(--texto);
}

.lista {
   list-style: none;
   padding: 0;
   width: 100%;
 }
 
 .tarefa {
   background-color: var(--tarefa) ;
   color: var(--texto);
   display: flex;
   justify-content: space-between;
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
   padding: 1rem 3rem;
   height: 50px;
   
   
 }
 .botao-conclui, .botao-delete {
   background-color: var(--texto);
   border: none;
   border-radius: 2px;
   box-shadow: 0 0 8px var(--box-shadow);
   cursor: pointer;
   outline: none;
   height: 50px;
   width: 75px;
 }
 .done .botao-conclui {
   background-color:var(--tarefaConcluida) ;
   color: var(--texto);
   
 }
 
 .content {
   margin: 0;

  
 }
 .done .content {
   text-decoration: line-through;
   
 }